<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Not Found  | System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom Stylesheets -->
	<link rel="stylesheet" href="static/css/particle_back.css">
	<link rel="stylesheet" href="static/css/404.css">


	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script> -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css">
</head>
<body>

	<div class="box">
	  <div class="box__ghost">
	    <div class="symbol"></div>
	    <div class="symbol"></div>
	    <div class="symbol"></div>
	    <div class="symbol"></div>
	    <div class="symbol"></div>
	    <div class="symbol"></div>
	    
	    <div class="box__ghost-container">
	      <div class="box__ghost-eyes">
	        <div class="box__eye-left"></div>
	        <div class="box__eye-right"></div>
	      </div>
	      <div class="box__ghost-bottom">
	        <div></div>
	        <div></div>
	        <div></div>
	        <div></div>
	        <div></div>
	      </div>
	    </div>
	    <div class="box__ghost-shadow"></div>
	  </div>
	  
	  <div class="box__description">
	    <div class="box__description-container">
	      <div class="box__description-title">Whoops!</div>
	      <div class="box__description-text">It seems like we couldn't find the page you were looking for</div>
	    </div>
	    
	    <a href="login.html" class="box__button">Go back</a>
	    
	  </div>
	  
	</div>


	


	<div class="purple division"></div>
	<div class="medium-blue division"></div>
	<div class="light-blue division"></div>
	<div class="red division"></div>
	<div class="orange division"></div>
	<div class="yellow division"></div>
	<div class="cyan division"></div>
	<div class="light-green division"></div>
	<div class="lime division"></div>
	<div class="magenta division"></div>
	<div class="lightish-red division"></div>
	<div class="pink division"></div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="assets/js/404.js"></script>
</body>
</html>